.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  &.modal-open {
    opacity: 1;
    visibility: visible;
  }
}

.modal-content {
  background-color: #242426;
  width: 518px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  padding: 40px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  &.modal-open {
    opacity: 1;
    visibility: visible;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-close-btn {
      top: 55px;
      right: 42px;
      border: none;
      background-color: transparent;
      color: #afb2b6;
      cursor: pointer;
      width: 10px;
      height: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-border {
    width: 440px;
    height: 2px;
    border-bottom: 1px solid #000;
    padding-top: 50px;
  }

  &-year {
    margin-top: 32px;
    display: flex;
    column-gap: 40px;
  }
}

.open-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
