.link {
  &:hover {
    color: #2231aa;
  }
}

.H1 {
  font-family: "Exo 2";
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
}

.H2 {
  font-family: "Exo 2";
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

.H3 {
  font-family: "Exo 2";
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.subline {
  font-family: "Exo 2";
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.textPrimary {
  font-family: "Exo 2";
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}

.textSecondary {
  font-family: "Exo 2";
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.grey {
  color: #2a60a7;
}
