

.card img {
    width: 266px;
    height: 357px;
    border-radius: 20px;
    margin-bottom: 24px;
    transition: filter 0.5s ease; 
  }
  
  .card:hover img {
    filter: brightness(1.2); 
  }
  
  @keyframes brightnessAnimation {
    from {
      filter: brightness(1); 
    }
    to {
      filter: brightness(1.2); 
    }
  }

h2 {
    font-size: 16px;
}

h3.card-title {
    font-size: 16px;
    padding-bottom: 5px;
}