.movie-details {
  display: flex;
  width: max-content;
  gap: 42px;

  Button{
    margin-top: 10px;
  }
  .movie-info {
    &--plot {
      width: 878px;
      padding-bottom: 40px;
    }
    h1 {
    }

    h2 {
      color: #afb2b6;
    }

    ul {
      li {
        margin: 20px 0;
        list-style-type: none;
      }
    }
    .movie-rating {
      display: flex;
      gap: 10px;
      padding-top: 26px;
      padding-bottom: 42px;

      &--green {
        background-color: #00a340;
      }
    }
    span {
      background: #323537;
      border-radius: 6px;
      padding: 2px 8px;
      color: #ffffff;

      font-family: "Exo 2";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
    }
    &--genres {
      display: flex;
      gap: 54px;
      line-height: 24px;
      font-family: "Exo 2";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.ui-loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.loader-blk {
  color: #3f51b5;
  animation: rotate-outer08 1.4s linear infinite;
}

.multiColor-loader {
  display: block;
  animation: color-anim08 1.4s infinite;
}

.loader-circle {
  stroke: currentColor;
}

.MuiCircularProgress-circleStatic {
  transition: stroke-dashoffset 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.loader-circle-animation {
  animation: rotate-inner08 1.4s ease-in-out
    infinite;
  stroke-dasharray: 80px, 200px;
  stroke-dashoffset: 0;
}

@keyframes rotate-outer08 {
  0% {
    transform-origin: 50% 50%;
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-inner08 {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }

  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}

@keyframes color-anim08 {
  0% {
    color: #4285f4;
  }

  25% {
    color: #ea4335;
  }

  50% {
    color: #f9bb2d;
  }

  75% {
    color: #34a853;
  }
}


.loader {
  display: inline-block;
  margin: 0 16px;
}

body {
  min-height: 100vh;
  background: #f5f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  .dribbble {
    position: fixed;
    display: block;
    right: 20px;
    bottom: 20px;
    img {
      display: block;
      height: 28px;
    }
  }
}
