.filtered-card {
display: flex;
}

.movie-card-container {
    // width: 1440px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}