.apply-btn {
    width: 150px;
    margin-top: 15px;
}

.year-input {
    width: 150px;
    height: 56px;
    padding: 0 20px;
    border-radius: 10px;
    border: 2px solid #fff;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    background-color: #323537;
    color: #fff;
    display: flex;
}

.movieTitle-input {
    width: 300px;
    height: 56px;
    padding: 0 20px;
    border-radius: 10px;
    border: 2px solid #fff;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    background-color: #323537;
    color: #fff;
    display: flex;
}