.show-more{
    border:none;
    color:white;
    display: inline-flex;
    align-items: center;
    background: #323537;
    border-radius: 40px;
    column-gap: 15px;
    min-height: 40px;
    padding: 0 24px;
    cursor: pointer;
}